beautifulsoup4==4.13.0b2
Django==5.1.4
django-cors-headers==4.6.0
django-crontab==0.7.1
django-filter==24.3
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
drf-yasg==1.21.8
gunicorn==23.0.0
mysqlclient==2.2.6
pycryptodome==3.21.0
PyJWT==2.10.1
requests==2.32.3
python-dateutil==2.9.0